/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.bootstrap .card {
    max-width: 100%;
}

.bootstrap .dragBox {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    line-height: 95px;
    color: #999;
    border: 2px dashed #ccc;
    display: inline-block;
    transition: transform 0.3s;
}

.bootstrap .dragBox input[type="file"] {
    /* position: absolute; */
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left: 0;
}

.draging {
    transform: scale(1.1);
}

.bootstrap .dragBox img {
    width: 100%;
    height: 90px;
}
.bootstrap .dragBox #preview {
    position: absolute;
    top: 0;
}